# Server
HL_RPC_URL=https://rpc.hyperliquid-testnet.xyz/evm
HYPERSCAN_BASE=https://explorer.hyperliquid-testnet.xyz

# Client
NEXT_PUBLIC_CHAIN_ID=998
NEXT_PUBLIC_USE_MOCK_CONTRACTS=true
NEXT_PUBLIC_USDC_ADDRESS=0xb88339CB7199b77E23DB6E890353E22632Ba630f
